body{
  margin: 0;
  padding: 0;
}
.middle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30;
  box-shadow: 0 10px 15px -5px #000000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.btn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btn:hover i{
  transform: scale(1.4);

}